Option 3: Recommendation 
Complexity: Intermediate 
Task: Recommend item to the given customer id for a given date.
User Story: User should be able to provide a Customer ID and Date, and program should be able to 
recommend item to be purchased.
Hint: Approach would be given importance over result

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Reading data
data = pd.read_csv('C:/Users/gaurm/Desktop/MACHINE LEARNING/Resolute.AI/Online Retail.xlsx - Online Retail.csv')

In [3]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [4]:
df = pd.DataFrame(data)

In [5]:
df.drop(columns = ['InvoiceNo','StockCode','Quantity','UnitPrice','Country'],inplace = True)

In [6]:
df.head()

                           Description   InvoiceDate  CustomerID
0   WHITE HANGING HEART T-LIGHT HOLDER  12/1/10 8:26     17850.0
1                  WHITE METAL LANTERN  12/1/10 8:26     17850.0
2       CREAM CUPID HEARTS COAT HANGER  12/1/10 8:26     17850.0
3  KNITTED UNION FLAG HOT WATER BOTTLE  12/1/10 8:26     17850.0
4       RED WOOLLY HOTTIE WHITE HEART.  12/1/10 8:26     17850.0

In [7]:
#Finding null values
df.isnull().sum()

Description      1454
InvoiceDate         0
CustomerID     135080
dtype: int64

In [8]:
df['InvoiceDate'] =  pd.to_datetime(df['InvoiceDate'])

In [9]:
df.dtypes

Description            object
InvoiceDate    datetime64[ns]
CustomerID            float64
dtype: object

In [10]:
#removing null values
df.dropna(axis=0,how='any',inplace = True)

In [11]:
#null values
df.isnull().sum()

Description    0
InvoiceDate    0
CustomerID     0
dtype: int64

In [12]:
df['CustomerID'].unique()

array([17850., 13047., 12583., ..., 13298., 14569., 12713.])

In [13]:
df['InvoiceDate'].unique()

array(['2010-12-01T08:26:00.000000000', '2010-12-01T08:28:00.000000000',
       '2010-12-01T08:34:00.000000000', ...,
       '2011-12-09T12:31:00.000000000', '2011-12-09T12:49:00.000000000',
       '2011-12-09T12:50:00.000000000'], dtype='datetime64[ns]')

In [14]:
date = pd.to_datetime(df['InvoiceDate']).dt.floor('D')

In [15]:
inputdata = df['CustomerID'].round()

In [17]:
ip = float(input("PLEASE MENTION THE CUSTOMERID:")) 
df2=df.loc[df['CustomerID'] == ip, 'Description']
print("PRODUCTS ARE:\n",df2)
print("TOTAL PRODUCTS ARE:",len(df2))

PLEASE MENTION THE CUSTOMERID:13298
PRODUCTS ARE:
 538064    KNITTED UNION FLAG HOT WATER BOTTLE
538065          WHITE SKULL HOT WATER BOTTLE
Name: Description, dtype: object
TOTAL PRODUCTS ARE: 2